*{
    margin: 0;
    padding: 0;
}

:root{
  --light: #A8D0E6;
  --black: #314455;
  --dark: #24305E;
  --contrast: #fcb04c;
  --blue: #374785;
  --red: #F76C6C;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;

}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* CSS for navbar */
.navbar {
  /* background-image: linear-gradient(to right, var(--light), var(--red)); */
  background-color: var(--red);
  font-family: 'Bebas Neue', sans-serif;
  color: black;
}

.navbar-brand {
  color: black;
  font-size: 3vh;
}

.navbar-nav .nav-link {
  color: black;
  font-size: 3vh;
  margin-right: 20px;
}

.navbar-nav .active > .nav-link {
  color: var(--contrast);
}

.dropdown-menu {
  background-color: #F76C6C;
  font-family: 'Bebas Neue', sans-serif;
}

.dropdown-menu a {
  color: white;
  font-size: 3vh;
}

.navbar-toggler-icon {
  color: white;
}

  
  /* Home Page Section Styling */
  body {
    background-color: var(--light);
    margin: 0;
    padding: 0;
  }
  .staircase {
    font-family: 'Allura', cursive;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 20% 20%;
    background-color: var(--light);
  }
  
  .name:nth-of-type(1) {
    text-align: left;
    margin-right: 60%;
    color: var(--black);
  }
  
  .name:nth-of-type(2) {
    text-align: center;
    color: var(--black);
  }
  
  .name:nth-of-type(3) {
    text-align: right;
    margin-left: 60%;
    color: var(--black);
  }
  
  .name {
    font-size: 8vh;
    font-weight: bold;
    margin: 0.5rem;
    padding: 10px 50px 5px 50px;
    background-color: var(--red);
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-inner {
    background-color: #374785;
    color: #fcb04c;
    font-size: 16px;
    max-width: 250px;
    padding: 10%;
  }
  
  .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #374785;
  }
  

/*Soccer Ball animation*/

.soccer-ball {
  width: 100px;
  height: 100px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Soccerball.svg/1024px-Soccerball.svg.png');
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  animation: soccer-bounce 6s ease-in-out infinite;
}

/* Define the animation */
@keyframes soccer-bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100vw - 110px));
  }
  100% {
    transform: translateX(0);
  }
}

  
/* Tutorials CSS */

.container {
  justify-content: center;
  align-items: center;
}

.content img{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 5%;
}

.content {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content h1 {
  font-size: 40px;
  margin-bottom: 0;
  margin-bottom: 20px;
}

.content h2 {
  font-size: 30px;
  margin-bottom: 0;
  margin-bottom: 20px;
  color: var(--black);
}

.content p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin-top: 0;
}

.content ul{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  text-align: left;
}

.container iframe{
  width: 100%;
  justify-content: center;
  text-align: center;
}


/*CSS for table of contents in each tutorial page*/
.table-of-contents {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  background-color: var(--contrast);
  margin-top: 50px;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  margin-left: 25%;
}

.table-of-contents h2 {
  color: var(--blue);
}

.table-of-contents ul {
  list-style-type: none;
  padding: 0;
}

.table-of-contents li {
  margin-bottom: 10px;
}

.table-of-contents a {
  color: var(--black);
  text-decoration: none;
  display: block;
  padding: 5px;
  border-radius: 5px;
}

.table-of-contents a:hover {
  background-color: white;
}

/*CSS for the code box*/
.code-box {
  background-color: var(--black);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 auto 50px;
  margin-bottom: 50px;
  overflow: auto;
  position: relative;
  width: 75%;
}


.code-header {
  align-items: center;
  background-color: #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.code-language {
  font-size: 14px;
  font-weight: bold;
}

.copy-code {
  background-color: #333;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
}

.copy-code:hover {
  background-color: #555;
}

.code {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  margin: 0;
  white-space: pre-wrap;
  color: white;
  margin-top: 10px;
}
  

/*CSS for project boxes*/

.project-container {
  padding: 5% 10% 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-box {
  width: 30%;
  margin-bottom: 50px;
  padding: 20px;
  background-color: var(--blue);
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  justify-content: center;
  align-items: center;
}

.project-box:hover {
  transform: scale(1.1);
}

.project-box img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-box h3 {
  margin-top: 0;
  font-size: 5vh;
  color: var(--contrast);
}

.project-box p {
  color: var(--light);
}

/*CSS for about page*/
h1 {
  color: var(--black);
  text-align: center;
  margin-top: 50px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 80%;
  background-color: var(--dark);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.about-image {
  flex-basis: 50%;
  max-width: 400px;
  margin-right: 50px;
}

.about-image img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.about-text {
  flex-basis: 50%;
  color: var(--contrast);
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.about-boxes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}

.about-box {
  flex-basis: 25%;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: var(--black);
  background-color: var(--red);
}

.about-box h3 {
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about-box p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.about-box ul{
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
}
/*Learning outside the course*/
.about-learning {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
} 
.about-learnbox {
  flex-basis: 25%;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: var(--blue);
  background-color: var(--contrast);
}

.about-learnbox h3 {
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about-learnbox p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.about-learnbox img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-bottom: 10px;
}
